doctype html
html.
	<head>
<title>Team42 | HackAZ</title>
<meta charset="UTF-8" http-equiv="Content-Type" content="text/html" />
<link href="stylesheets/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body id="main">

<div id="center">
<h1>Team42</h1>

<div id="video-box">
<div id="left-video"></div>
<div id="right-video"></div>
</div>

<div id="buttons">
<li><button>button1</button>

<select id="btn1-sel"  tabindex="100">
<option value></option>
<option value="3">3</option>
<option value="5">5</option>
<option value="10">10</option>

</select>
</li>


<li><button>button2</button></li>
</div>
</div>
</body>

//- <script src="../myscript.js"></script>

    
     


    
  
